<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GMWU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GMWU.Properties.Settings>
            <setting name="DefaultGMadFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultGMPublishFileLine" serializeAs="String">
                <value />
            </setting>
            <setting name="AddonFolderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="GMadFile1Location" serializeAs="String">
                <value />
            </setting>
            <setting name="GMadOutputLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtractOutputLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="GMadFile2Location" serializeAs="String">
                <value />
            </setting>
            <setting name="GMAFile1Location" serializeAs="String">
                <value />
            </setting>
            <setting name="GMAFile2Location" serializeAs="String">
                <value />
            </setting>
            <setting name="GMPubFile1Location" serializeAs="String">
                <value />
            </setting>
            <setting name="IconFile1Location" serializeAs="String">
                <value />
            </setting>
            <setting name="GMAFile3Location" serializeAs="String">
                <value />
            </setting>
            <setting name="GMPubFile2Location" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateAddonID" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateAddonNotes" serializeAs="String">
                <value />
            </setting>
            <setting name="IconFile2Location" serializeAs="String">
                <value />
            </setting>
            <setting name="GMPubFile3Location" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateIconID" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskName" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskNotes" serializeAs="String">
                <value />
            </setting>
            <setting name="MainControlIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaskControlIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsoleControlIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaskSelectionIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </GMWU.Properties.Settings>
    </userSettings>
</configuration>